.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  background-color: transparent;
  color: white;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 4rem;
}

.brand_name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
  font-family: cursive;
}
