:root {
  --primary: #1ed760;
  --secondary: #43454c;
  --white: #ffffff;
  --background: #121212;
  --input-background: #191c21;
}

.App {
  background-color: var(--background);
  color: var(--white);
  min-height: 100vh;
}
